/*.project
/bukkit/.classpath
/bukkit/.project
/bukkit/.settings
/bukkit/bin
/bukkit/target
/core/.settings
/core/bin
/core/target
/core/.classpath
/core/.gitignore
/core/.project
/bungee/.settings
/bungee/bin
/bungee/target
/bungee/.classpath
/bungee/.project
/velocity/.settings
/velocity/bin
/velocity/target
/velocity/.classpath
/velocity/.project
/configurate/.settings
/configurate/target
/configurate/.classpath
/configurate/.gitignore
/configurate/.project
/.settings
/target
/example/.settings
/example/target
/example/.classpath
/example/.gitignore
/example/.project
