/*.project
/spigot/.classpath
/spigot/.project
/spigot/.settings
/spigot/bin
/spigot/target
/core/.settings
/core/bin
/core/target
/core/.classpath
/core/.gitignore
/core/.project
/bungee/.settings
/bungee/bin
/bungee/target
/bungee/.classpath
/bungee/.project
/.settings
/target
